# Editor Files and Folders

.idea/
.vscode/
.DS_Store
*~
\#*#

# Build Files and Binaries

QTranslator
QTranslatorTests
*.qasm
*.log
*.o
*.so
*.dll
*.dylib
*.pyc
*build/
*build_tests/
*cmake-build-*/
*__pycache__/

# Documentation Generation Files

doc/latex/
doc/html/
.cache/clangd/index